@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fcfcfc;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 75px;
  /* background-color: #fef7e5; */
  /* background-color: transparent; */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.637),rgba(208, 196, 196, 0.319),rgba(208, 196, 196, 0.084));
  backdrop-filter: blur(7px);
  position: fixed;
  width: 100%;
  margin-bottom: 2rem;
  z-index: 3;
  padding-bottom: 10px;
}

.logo-img {
  width: 60px;
}

.menu-icon {
  display: none;
}


.nav-elements ul {
  display: flex;
  /* justify-content: space-between; */
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 8px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 500;
  color: #13092e;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #230b0b;
  font-weight: 700;
  position: relative;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #0f0a0a;
}
.navbar ul li a {
  color: #000; /* Default color for links */
  text-decoration: none;
  padding: 10px 15px;
}
.navbar ul li a.active {
  font-weight: 800; /* Change this to your desired active color */
}
.name p{
  font-size: 2rem;
  font-weight: 600;
  & p{
    margin-bottom: 0 !important;
  }
}


@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 8px;
  }
}

@media (max-width: 945px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fef7e5;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}

@media (max-width: 510px) {
  .name p{
    font-size: 1.4rem;
  }
  .logo img{
    width: 35px;
  }
  .menu-icon svg{
    width: 23px !important;
  }
}